<style media="screen">
  :root {
    --rowNum: 5;
    --colNum: 5;
    --maxX: 256px;
    --maxY: 256px;
  }

  .gameWindow {
    display: grid;
    grid-template-rows: repeat(var(--rowNum), auto);
    grid-template-columns: repeat(var(--colNum), auto);
    grid-gap: 0px;
    width: 75vmin;
    height: 75vmin;
    background-color: black;
  }

  .gameObject {
    padding-right: 0px;
    padding-left: 0px;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }
</style>

<p>
  <strong>Name:</strong>
  <%= @puzzle.name %>
</p>

<p>
  <strong>Game:</strong>
  <%= @puzzle.game %>
</p>

<br><br>

<div id="gameWindow" class="gameWindow"></div>

<script type="text/javascript">

  var gridSlot;
  var gameWindow = document.getElementById("gameWindow");
  var gameState = <%= @puzzle.game %>;

  document.documentElement.style.setProperty("--rowNum", gameState.length)
  document.documentElement.style.setProperty("--colNum", gameState[0].length)
  document.documentElement.style.setProperty("--maxX", 256*gameState[0].length)
  document.documentElement.style.setProperty("--maxY", 256*gameState.length)

  var playerX = 0;
  var playerY = 0;
  var newX = 0;
  var newY = 0;

  var boxPath = "<%= asset_path('box.png') %>";
  var boxAlt = "Pushable Box";
  var boxID = 1;

  var charPath = "<%= asset_path('char.png') %>";
  var char2Path = "<%= asset_path('char2.png') %>";
  var charAlt = "Empty Tile With Character";
  var charID = 2;

  var obstaclePath = "<%= asset_path('obstacle.png') %>";
  var obstacleAlt = "Immovable Obstacle";
  var obstacleID = 9;

  var freePath = "<%= asset_path('free.png') %>";
  var freeAlt = "Empty Tile";
  var freeID = 0;

  var goalPath = "<%= asset_path('goal.png') %>";
  var goalAlt = "Goal Tile";
  var goalID = 3;

  var goalBoxPath = "<%= asset_path('goalbox.png') %>";
  var goalBoxAlt = "Goal Tile With Box";
  var goalBoxID = 4;

  var goalCharPath = "<%= asset_path('goalchar.png') %>";
  var goalChar2Path = "<%= asset_path('goalchar2.png') %>";
  var goalCharAlt = "Goal Tile With Character";
  var goalCharID = 5;

  // to add a box to a tile, add 1; to add the character, add 2

  var indexPath = "<%= puzzles_path %>";
  var facing = 0; // right, 1 is left
  var emptyGoals = 0;

  for (i = 0; i < gameState.length; i++) {
    for (j = 0; j < gameState[i].length; j++) {
      if (gameState[i][j] == charID) {
        playerX = j;
        newX = j;
        playerY = i;
        newY = i;
      }
    }
  }


// update the state of graphics/board images
  function updateGame(arr) {
    while (gameWindow.firstChild) {
      gameWindow.removeChild(gameWindow.lastChild);
    }

    emptyGoals = 0;

    for (i = 0; i < arr.length; i++) {
      //gridSlot = document.createElement("p");
      //document.getElementById("gameWindow").appendChild(gridSlot)
      for (j = 0; j < arr[i].length; j++) {
        gridSlot = document.createElement("img");
        if (arr[i][j] == charID) {
          gridSlot.alt = charAlt;
          if (facing == 0) {
            gridSlot.src = charPath;
          } else {
            gridSlot.src = char2Path;
          }
        }
        if (arr[i][j] == goalCharID) {
          gridSlot.alt = goalCharAlt;
          if (facing == 0) {
            gridSlot.src = goalCharPath;
          } else {
            gridSlot.src = goalChar2Path;
          }
        }
        if (arr[i][j] == boxID) {
          gridSlot.src = boxPath;
          gridSlot.alt = boxAlt;
        }
        if (arr[i][j] == goalBoxID) {
          gridSlot.src = goalBoxPath;
          gridSlot.alt = goalBoxAlt;
        }
        if (arr[i][j] == obstacleID) {
          gridSlot.src = obstaclePath;
          gridSlot.alt = obstacleAlt;
        }
        if (arr[i][j] == freeID) {
          gridSlot.src = freePath;
          gridSlot.alt = freeAlt;
        }
        if (arr[i][j] == goalID) {
          gridSlot.src = goalPath;
          gridSlot.alt = goalAlt;
          emptyGoals++;
        }
        gridSlot.className = "gameObject";
        gridSlot.id = "gameGrid" + String((i + 1) * (j + 1) - 1);
        gameWindow.appendChild(gridSlot);
      }
    }
    if (emptyGoals == 0) {
      setTimeout(() => {
        if (confirm("Puzzle solved! Return to main listing?")) {
          document.location.href = indexPath;
        }
      }, 500);
    }
  }


// update the internal representation of the game
  function movePlayer() {
    gameState[playerY][playerX] -= 2;
    playerX = newX;
    playerY = newY;
    gameState[playerY][playerX] += 2;
    updateGame(gameState);
  }

  updateGame(gameState);

  window.addEventListener("keydown", function (event) {
    if (event.defaultPrevented) {
      return; // Do nothing if the event was already processed
    }

    newX = playerX;
    newY = playerY;

    switch (event.key) {
      case "ArrowDown":
        if (playerY < gameState.length - 1) {
          newY = playerY + 1;
        } else {
          newY = playerY;
        }
        break;
      case "ArrowUp":
        if (playerY > 0) {
          newY = playerY - 1;
        } else {
          newY = playerY;
        }
        break;
      case "ArrowLeft":
        if (playerX > 0) {
          newX = playerX - 1;
        } else {
          newX = playerX;
        }
        facing = 1;
        break;
      case "ArrowRight":
        if (playerX < gameState[0].length - 1) {
          newX = playerX + 1;
        } else {
          newX = playerX;
        }
        facing = 0;
        break;
      default:
        return; // Quit when this doesn't handle the key event.
    }

    switch (gameState[newY][newX]) {
      case obstacleID:
        break;
      case freeID:
        movePlayer();
        break;
      case goalID:
        movePlayer();
        break;
      case boxID:
        if (
        (newX - playerX) * 2 + playerX <= gameState[0].length - 1 &&
        (newX - playerX) * 2 + playerX >= 0 &&
        (newY - playerY) * 2 + playerY <= gameState.length - 1 &&
        (newY - playerY) * 2 + playerY >= 0) {
          if (
          gameState[(newY - playerY) * 2 + playerY][(newX - playerX) * 2 + playerX] != obstacleID &&
          gameState[(newY - playerY) * 2 + playerY][(newX - playerX) * 2 + playerX] != boxID &&
          gameState[(newY - playerY) * 2 + playerY][(newX - playerX) * 2 + playerX] != goalBoxID) {
            gameState[(newY - playerY) * 2 + playerY][(newX - playerX) * 2 + playerX] += 1;
            gameState[newY][newX] -= 1;
            movePlayer();
          }
        }
        break;
      default:
        break;
    }

    // Cancel the default action to avoid it being handled twice
    event.preventDefault();
  }, true);

</script>

<br><br>

<%= link_to 'Edit puzzle', edit_puzzle_path(@puzzle) %> |
<%= link_to 'Remove puzzle', puzzle_path(@puzzle),
        method: :delete,
        data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to listing', puzzles_path %>
